<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

//***This fragment (headerFrag) links bootstrap link and stylesheet.css***/

<th:block th:fragment="headerFrag">

    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">

    <link href="//netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet" type="text/css" th:href="@{/css/basicstyle.css}">

</th:block>

//***This fragment (navFrag)creates an interactive navigation bar utilizing Bootstrap***/

<th:block th:fragment="navFrag">
    <!--<nav class="navbar navbar-expand-lg navbar-dark bg-danger">-->
        <!--<a class="navbar-brand" href="#">BullHorn</a>-->
        <!--<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">-->
            <!--<span class="navbar-toggler-icon"></span>-->
        <!--</button>-->

        <!--<div class="collapse navbar-collapse" id="navbarSupportedContent">-->
            <!--<ul class="navbar-nav mr-auto">-->
                <!--<li class="nav-item active">-->
                    <!--<a class="nav-link" href="/login">Login <span class="sr-only">(current)</span></a>-->
                <!--</li>-->

                <!--<li class="nav-item active">-->
                    <!--<a class="nav-link" href="/register">Register <span class="sr-only">(current)</span></a>-->
                <!--</li>-->

                <!--&lt;!&ndash;<li class="nav-item active">&ndash;&gt;-->
                <!--&lt;!&ndash;<a class="nav-link" href="/login">Logout <span class="sr-only">(current)</span></a>&ndash;&gt;-->
                <!--&lt;!&ndash;</li>&ndash;&gt;-->

                <!--<div sec:authorize="hasAuthority('USER')">-->
                    <!--<li class="nav-item active">-->
                        <!--<a class="nav-link" href="/login">Logout <span class="sr-only">(current)</span></a>-->
                    <!--</li>-->
                <!--</div>-->


                <!--<li class="nav-item dropdown">-->
                    <!--<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
                        <!--Links-->
                    <!--</a>-->
                    <!--<div class="dropdown-menu" aria-labelledby="navbarDropdown">-->
                        <!--<a class="dropdown-item" href="#">New</a>-->
                        <!--<a class="dropdown-item" href="#">Edit</a>-->
                        <!--<div class="dropdown-divider"></div>-->
                        <!--<a class="dropdown-item" href="#">Delete</a>-->
                    <!--</div>-->
                <!--</li>-->

            <!--</ul>-->
            <!--<form class="form-inline my-2 my-lg-0">-->
                <!--<input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">-->
                <!--<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>-->
            <!--</form>-->
        <!--</div>-->
    <!--</nav>-->










    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Samibaba</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Login</a>
                </li>


                <li class="nav-item">
                    <a class="nav-link" href="#">Category</a>
                </li>
                <li class="nav-item dropdown" sec:authorize="hasAuthority('ADMIN')">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Admin
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <!--<a class="dropdown-item" href="/addcategory">Add Category</a>-->
                        <a class="dropdown-item" href="/addproduct">Add Product</a>
                        <a class="dropdown-item" href="/adminorder">Process Order</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Something else here</a>


                        <div class="btn-group dropright">
                            <a role="button" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Category
                            </a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="/addcategory">Show All</a>
                                <a class="dropdown-item" href="/addcategory">Add</a>
                            </div>
                        </div>



                    </div>
                </li>

                <li class="nav-item" sec:authorize="isAnonymous()">
                    <a class="nav-link" href="/login">Login</a>
                </li>

                <li class="nav-item" sec:authorize="!isAnonymous()">
                    <a class="nav-link" href="/logout">Logout</a>
                </li>
            </ul>
        </div>
        <a class="navbar-brand" href="#">Welcome <span sec:authentication="name"></span></a>
        <button class="navbar-toggler no-click-button" type="button" ></button>
    </nav>
</th:block>


/***This fragment (scriptFrag) links the javascript links for bootstrap animation and other features***/

<th:block th:fragment="scriptFrag">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>

    <script src="//netdna.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


</th:block>

/***This is fragment (footerFrag) links the footer***/

<div th:fragment="footerFrag">
    <div class="footer-margin">
        &copy; 2019 David, Jacob, & Sue @ America's Promise: Java Web Developer Boot Camp
    </div>
</div>


</html>