<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <div th:insert="basicfrag :: headerFrag"></div>
    <title>HomePage</title>
</head>

<body class="home-body">

<div th:insert="basicfrag :: navFrag"></div>


<div class="container">
    <div class="home-page-jumbotron jumbotron">

        <h1 id="dark">SamiBaba</h1>
        <h2>A fresh approach to shopping.</h2>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
    </div>
    <div class="cards-list">
        <div th:each="category : ${categories}">
            <a href="#" th:href="@{/listproducts/{id} (id=${category.id})}">
            <div class="card 1">
                <div class="card_image"><img th:src="${category.img}"/></div>
                <div class="card_title title-white">
                    <h2><b th:inline="text">[[${category.title}]]</b></h2>
                </div>
            </div>
            </a>
        </div>


        <div sec:authorize="hasAuthority('ADMIN')">
            <!--<a class="btn btn-danger" href="/addcategory" role="button">Add a Category</a>-->
        </div>


        <div>


            <div th:insert="basicfrag :: footerFrag"></div>
        </div>

        <div th:insert="basicfrag :: scriptFrag"></div>
    </div>
</div>

</body>
</html>