<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>

    <div th:insert="basicfrag :: headerFrag"></div>
    <title>HomePage</title>
</head>

<body style="background-color: lightgray">
<div th:insert="basicfrag :: navFrag"></div>

<style>
    .jumbotron{
        background-image: url("https://res.cloudinary.com/dgmyjncc8/image/upload/v1564776913/gbrr9fjzj1bo6y3zocyl.jpg") !important;
        font-family: 'Rubik Mono One', sans-serif;
    }
    #dark{
        color: snow;
    }
</style>

<div class="container">
    <div class="jumbotron">

        <h1 id="dark">SamiBaba</h1>
        <h2>A fresh approach to shopping.</h2>
        <p><a class="btn btn-primary btn-lg" href="#" role="but
        ton
        ">Learn more</a></p>
    </div>


<div class="cards-list">
    <div th:each="category : ${categories}">
        <div class="card 1">
            <div class="card_image"> <img th:src="${category.img}"/> </div>
            <div class="card_title title-white">
                <h2><b th:inline="text">[[${category.title}]]</b></h2>
            </div>
        </div>

    </div>



<div sec:authorize="hasAuthority('ADMIN')">
    <!--<a class="btn btn-danger" href="/addcategory" role="button">Add a Category</a>-->
</div>





<div>


    <div th:insert="basicfrag :: footerFrag"></div>
</div>

<div th:insert="basicfrag :: scriptFrag"></div>

</body>
</html>