<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <div th:insert="basicfrag :: headerFrag"></div>
    <title>HomePage</title>
</head>

<body class="home-body">

<div th:insert="basicfrag :: navFrag"></div>


<div class="container">
    <div class="home-page-jumbotron jumbotron">

        <h1 id="dark">SamiBaba</h1>
        <h2>A fresh approach to shopping.</h2>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
    </div>

    <div class="cards-list">
        <div th:each="category : ${categories}">
            <div class="card 1">
                <a th:href="@{/listproducts/{id}(id=${category.getId()})}"></a>
                <div class="card_image"><img th:src="${category.img}"/></div>
                <div class="card_title title-white">
                    <h2><b th:inline="text">[[${category.title}]]</b></h2>
                </div>
            </div>

        </div>
    </div>
</div>

<div th:insert="basicfrag :: footerFrag"></div>
<div th:insert="basicfrag :: scriptFrag"></div>
</body>
</html>