<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>AllOpenOrders</title>
</head>
<body class="listproducts-background">

<div class="category-jumbotron jumbotron-fluid">
    <h1 class="display-4"></h1>
    <p class="lead"><h2 style="text-align: center">All Open Orders</h2></p>
</div>


<!--This html is expecting list of all open orders for Admin to process-->
<!--It will display each open order in a table row-->
<!--where Admin will "package" each order and send a confirmation email to the user-->




<div class="item-container">

        <table class="admintable">
            <tr th:each="openorder: ${allopenorders}" class="product-info">
                <td class="admintd" style="width: 30%">
                    <div class="listing-right-column pl-xs-2">
                        <h2 th:text="${openorder.getOrduser().getFirstName() + ' '
                                       + openorder.getOrduser().getLastName()}"></h2>
                        <h3 th:text="${'Email: ' + openorder.getOrduser().getEmail()}" ></h3>
                    </div>
                </td>
                <td class="admintd" style="width:25%">
                    <img style="width: 50px; alignment: center" class="product-image" th:src="${openorder.getOrdproduct().img}" alt="product image"/>
                </td>
                <td class="admintd">
                    <div class="listing-right-column pl-xs-2">
                        <h3 th:text="${'Order Id: ' + openorder.getOrderId()}" style="text-align: center"></h3>
                        <h3 th:text="${'Product Name: ' + openorder.getOrdproduct().name}" style="text-align: center"></h3>
                        <br/>
                        <h3 th:text="${'Price:' + openorder.getOrdproduct().price}"></h3>
                        <h3 th:text="${'Ordered Qty:' + openorder.getQty()}"></h3>

                    </div>
                </td>
                <td class="admintd">
                    <div class="btn-group" role="group" aria-label="...">

<!--                        <button type="button" class="btn btn-default" style="padding: 5px">-->
<!--                            <span class="glyphicon glyphicon-search"></span>-->
<!--                            <a th:href="@{/detailorder/{id}(id=${openorder.getOrderId()})}">Detail</a></button>-->

                        <button type="button" class="btn btn-default" style="padding: 5px">
                            <span class="glyphicon glyphicon-edit"></span>
                            <a th:href="@{/processorder/{id}(id=${openorder.getOrderId()})}">Send Out</a></button>

                    </div>
                </td>
            </tr>
            <br/>
        </table>

</div>


<div th:replace="basicfrag :: footerFrag"></div>
<div th:replace="basicfrag :: scriptFrag"></div>
</body>
</html>
