<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="basicfrag :: headerFrag"></div>
    <title>List Products</title>
</head>

<body class="listproducts-background">
<div th:replace="basicfrag :: navFrag"></div>

<div class="category-jumbotron jumbotron-fluid">
    <h1 class="display-4"></h1>
    <p class="lead">
    <h2 style="text-align: center">[[${category.title}]]</h2></p>
</div>


<div class="item-container" th:each="product : ${category.getProducts()}">

    <div class="row" >
        <div class="col-4" id="item-image-td">
            <img class="product-image" th:src="${product.img}" alt="product-img"/>
        </div>
        <div class="col-8 listing-right-column pl-xs-2" id="item-data-td">
            <h2 th:text="${product.getName()}" style="text-align: center"></h2>
            <h4 th:text="${product.getDescription()}"></h4>
            <h3 th:text="${product.getPrice()}"></h3>
            <form style="align-items: center;"
                  action="#"
                  th:action="@{/addtocart/{pid}(pid=${product.getId()})}"
                  method="post">
                Quantity <input type="number" name="ordqty"/>

                <!--                                <select th:field="*{qty}">-->
                <!--                                    <option th:each="i : ${#numbers.sequence(1, product.qty)}" th:value="${i}"-->
                <!--                                            th:text="${i}"></option>-->
                <!--                                </select>-->

                <button class="glyphicon glyphicon-cart"
                        type="submit" style="width:110px; height:70px">Add to Cart
                    </button>



<!--                                    <input type="submit" value="Submit" />-->

            </form>
        </div>
    </div>
<br/>

</div>


<div th:replace="basicfrag :: importFooter"></div>
<div th:replace="basicfrag :: scriptFrag"></div>
</body>
</html>