<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <div th:insert="basicfrag :: headerFrag"></div>
    <title>AllOpenOrders</title>
</head>
<body>
<div th:replace="basicfrag :: navFrag"></div>

<div class="category-jumbotron jumbotron-fluid">
    <h1 class="display-4"></h1>
    <p class="lead">
    <h2 style="text-align: center">All Open Orders</h2></p>
</div>


<!--This html is expecting list of all open orders for Admin to process-->
<!--It will display each open order in a table row-->
<!--where Admin will "package" each order and send a confirmation email to the user-->


<div class="admincontain" style="alignment: center; align-content: center; padding: 7px">
    <table class="admintable" style="padding: 5px">
        <tr>
            <h3 style="text-align: center" th:text="${#lists.size(allopenorders)==0}?'No more open orders'"></h3>
        </tr>
        <tr class="admintr" th:each="ord: ${allopenorders}"
            style="border: 1px solid darkgray; alignment: center; padding-left: 10px; padding-right: 10px">
            <td class="admintd" style="width: 30%; padding: 10px">

                <h3 th:text="${ord.getOrduser().getFirstName() + ' '
                              + ord.getOrduser().getLastName()}"></h3>
                <h3 th:text="${'Email: ' + ord.getOrduser().getEmail()}"></h3>
                <h5 th:text="${'Order Id: ' + ord.getOrderId()}"></h5>
            </td>
            <td class="admintd">

                    <div class="col-3" style="alignment: center">
                        <img class="adminproduct-image"
                             style="padding: 15px; width: 100%"
                             th:src="${ord.getOrdprod().getImg()}" alt="product image"/>
                    </div>

                    <div class="col-9">

                        <h5 th:text="${'Product Name: ' + ord.getOrdprod().getName()}"></h5>
                        <br/>
                        <h5 th:text="${'Price:' + ord.getOrdprod().getPrice()}"></h5>
                        <h5 th:text="${'Ordered Qty:' + ord.getOrdprod().getQty()}"></h5>
                    </div>

            </td>
            <td class="admintd"  style="padding: 5px">
                <button type="button" class="btn btn-default" style="width:100px; height:100px">
                    <span class="glyphicon glyphicon-gift"></span>
                    <a th:href="@{/packageorder/{id}(id=${ord.getOrderId()})}">Send Out</a></button>
            </td>
        </tr>
        <br/>
    </table>

</div>


<div th:replace="basicfrag :: importFooter"></div>
<div th:replace="basicfrag :: scriptFrag"></div>
</body>
</html>
