<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>ProcessOrder</title>
</head>
<body>
<h2>Process Order</h2>

<form>
    <table>
        <tr>
            <td>
                <h2 class="Order-Confirmation-id" th:text="order.getOrderid()"></h2>
            </td>
            <td>
                <h3 class="Order-Confirmation-numitems" th:text="order.getQty()"></h3>
            </td>
            <td>
                <h3 class="Order-SubTotal" th:text="${order.getQty()*(product.getPrice()}"></h3>
            </td>
            <td>
                <h4 class="Order-tax" th:text="((product.getPrice())*.06)"></h4>
            </td>
            <td>
                <h5 th:if="product.getPrice()>50.00">You qualify for free shipping!</h5>
                <h5 th:unless="product.getPrice<50.00">Shipping Fee: $10.00</h5>
            </td>
            <td th:if="product.getPrice()>50.00">
                <h3 th:text="${(product.getPrice())+(product.getPrice()*0.06)}"></h3>
            </td>
            <td th:unless="product.getPrice<50.00">
                <h3 th:text="${(product.getPrice())+(product.getPrice()*0.06)+(10.00)}"></h3>
            </td>
            <div th:value="${order.setStatus(3)}"></div>
        </tr>
        <form action="mailto:someone@example.com" method="post" enctype="text/plain">
    </table>
</form>



</body>
</form>
</html>