<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <div th:insert="basicfrag :: headerFrag"></div>
    <title>Search Result</title>
</head>
<body>
<div th:replace="basicfrag :: navFrag"></div>

<div class="category-jumbotron jumbotron-fluid">
    <h1 class="display-4"></h1>
    <p class="lead">
    <h2 style="text-align: center">Search</h2></p>
</div>


<div class="item-container">
    <form class="item-iterator" style="align-items: center;"
          action="#"
          th:action="@{/addtocart}"
          th:object="${orderhist}"
          method="post">

        <table>
            <tr>
                <h3 style="text-align: center"
                    th:text="${#lists.size(searchresult)==0}?'Search not found. Try different search.'"></h3>
            </tr>

            <tr class="eachproduct" th:each="product : ${searchresult}">
                <td id="item-image-td">
                    <img class="product-image" th:src="${product.img}" alt="product-img"/>
                </td>
                <td id="item-data-td">
                    <div class="listing-right-column pl-xs-2">
                        <h2 th:text="${product.name}" style="text-align: center"></h2>
                        <hr/>
                        <h4 th:text="${product.description}"></h4>
                        <hr/>
                        <h3 th:text="${product.price}"></h3>
                        <p>
                            <input type="hidden" th:value="*{setStatus(3)}">
                            <label>Quantity
                                <select th:field="*{qty}">
                                    <option th:each="i : ${#numbers.sequence(1, product.qty)}" th:value="${i}"
                                            th:text="${i}"></option>
                                </select>
                            </label><br/>
                            <button type="submit" value="Add to Cart">Add to Cart</button>
                        </p>
                    </div>

                </td>
            </tr>
        </table>
    </form>
</div>
<div th:insert="basicfrag :: importFooter"></div>
<div th:replace="basicfrag :: scriptFrag"></div>
</body>
</html>
