<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Cart</title>
    <div th:insert="basicfrag :: headerFrag"></div>
</head>
<body class="listproductsincart-background">

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ViewCart</title>
</head>
<body>
<div th:insert="basicfrag :: navFrag"></div>

<div class="admincontain" style="alignment: center; align-content: center; padding: 7px">
    <div class="row">
        <div class="col_6">
            <h3 style="text-align: center" th:text="${#lists.size(myorders)==0}?'No items in the cart'"></h3>
                <span th:if="${#lists.size(myorders)>0}">
                    <h4 th:text="${'Order Id: ' + myorders[0].getOrderId()}"></h4><br/>
                    <button type="button" class="btn btn-default"
                            style="height:70px">
                        <span class="glyphicon glyphicon-tags"></span>
                        <a th:href="@{/checkoutorder/{id}(id=${myorders[0].getOrderId()})}">Check Out</a>
                    </button>
                </span>
            </h3>
        </div>
        <div class="col_6">
            <h3 th:text="${'Subtotal:' + subtotal}"></h3>
            <h3 th:text="${'Tax (MD 5%): ' + tax}"></h3>
            <h3 th:text="${'Delivery Charge: ' + delivery}"></h3>
            <hr/>
            <h2 th:text="${'Total: ' + total}"></h2>
        </div>
    </div>

    <table class="admintable" style="padding: 5px">
        <tr class="admintr" th:each="item: ${myorders}"
            style="border: 1px solid darkgray; alignment: center; padding-left: 10px; padding-right: 10px">
            <td class="admintd">
                <div class="col-3" style="alignment: center">
                    <img class="adminproduct-image"
                         style="padding: 15px; width: 100%"
                         th:src="${item.getOrdprod().getImg()}" alt="product image"/>
                </div>
            </td>
            <td>
                <div class="col-9">
                    <h5 th:text="${'Product Name: ' + item.getOrdprod().getName()}"></h5>
                    <br/>
                    <h5 th:text="${'Price:' + item.getOrdprod().getPrice()}"></h5>
                    <h5 th:text="${'Ordered Qty:' + item.getQty()}"></h5>
                </div>

            </td>
        </tr>
        <br/>
    </table>

</div>

</body>
</html>


<div th:replace="basicfrag :: importFooter"></div>
<div th:replace="basicfrag :: scriptFrag"></div>
</body>
</html>
