<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Cart</title>
    <div th:insert="basicfrag :: headerFrag"></div>
</head>
<body class="listproductsincart-background">

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:insert="basicfrag :: navFrag"></div>


<div class="admincontain" style="alignment: center; align-content: center; padding: 7px">
    <table class="admintable" style="padding: 5px">
        <tr>
            <h3 style="text-align: center" th:text="${#lists.size(allopenorders)==0}?'No more open orders'"></h3>
        </tr>
        <tr class="admintr" th:each="openorder: ${allopenorders}"
            style="border: 1px solid darkgray; alignment: center; padding-left: 10px; padding-right: 10px">
            <td class="admintd" style="width: 30%; padding: 10px">
                <h3 th:text="${openorder.getOrderId()}">Oder No: </h3>
                <h3 th:text="${openorder.getOrduser().getFirstName() + ' '
                              + openorder.getOrduser().getLastName()}"></h3>
                <h3 th:text="${'Email: ' + openorder.getOrduser().getEmail()}"></h3>
            </td>
            <td class="admintd">
                <div class="row" style="padding: 10px">
                    <div class="col-3" style="alignment: center">
                        <img class="adminproduct-image"
                             style="padding: 15px; width: 100%"
                             th:src="${openorder.getOrdproduct().img}" alt="product image"/>
                    </div>

                    <div class="col-9">
                        <h5 th:text="${'Order Id: ' + openorder.getOrderId()}"></h5>
                        <h5 th:text="${'Product Name: ' + openorder.getOrdproduct().name}"></h5>
                        <br/>
                        <h5 th:text="${'Price:' + openorder.getOrdproduct().price}"></h5>
                        <h5 th:text="${'Ordered Qty:' + openorder.getQty()}"></h5>
                    </div>
                </div>
            </td>
            <td class="admintd"  style="padding: 5px">
                <button type="button" class="btn btn-default" style="width:100px; height:100px">
                    <span class="glyphicon glyphicon-gift"></span>
                    <a th:href="@{/processorder/{id}(id=${openorder.getOrderId()})}">Send Out</a></button>
            </td>
        </tr>
        <br/>
    </table>

</div>











<!--    <table>-->
<!--        <tr class="eachproduct" th:each="product : ${category.getProducts()}">-->
<!--            <td id="item-image-td">-->
<!--                <img class="product-image" th:src="${product.img}" alt="product-img"/>-->
<!--            </td>-->
<!--            <td id="item-data-td">-->
<!--                <div class="listing-right-column pl-xs-2">-->
<!--                    <h2 th:text="${product.name}" style="text-align: center"></h2>-->
<!--                    <hr/>-->
<!--                    <h4 th:text="${product.description}"></h4>-->
<!--                    <hr/>-->
<!--                    <h3 th:text="${product.price}"></h3>-->
<!--                    <p>-->
<!--                        <input type="hidden" th:value="*{setStatus(3)}">-->
<!--                        <label>Quantity-->
<!--                            <select th:field="*{qty}">-->
<!--                                <option th:each="i : ${#numbers.sequence(0, product.qty)}" th:value="${i}" th:text="${i}"></option>-->
<!--                            </select>-->
<!--                        </label><br/>-->
<!--                        <button type="submit" value="Add to Cart">Add to Cart</button>-->
<!--                    </p>-->
<!--                </div>-->

</body>
</html>


<div th:replace="basicfrag :: footerFrag"></div>
<div th:replace="basicfrag :: scriptFrag"></div>
</body>
</html>
